* {
    margin: 0;
    padding: 0;
}

body {
    background: #e6e6e6;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background: #4eb895;
    color: white;
    /* some shadow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px 40px;

    display: flex;
    align-items: center;
}

header .menu {
    flex-grow: 1;
    text-align: right;
}

header .title {
    font-size: 3em;
    display: inline-block;
}

header .menu a {
    display: inline-block;
    margin: 20px;

}

header img {
        height: 100px;
}
